/*
* BASE STYLES
*/

.ng-hide, 
.ng-show {
   display: none !important;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.sidebar .formgroup {
  padding-top: 10px;
}

.hideapp {
  text-align: center;
  font-size: 30px;
  
}